*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	}
.row{
	margin-left: 0px;
	margin-right: 0px;
	z-index: 3;
}	
.align-center {
    text-align: center;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.img-responsive>img{
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
}
.pad-bot40 {
    padding-bottom: 40px;
}
.pad-top40 {
    padding-top: 40px;
}
.mar-top40{
	margin-top: 40px;
}
.mar-bot40{
	margin-bottom: 40px;
}
.mar-bot20{
	margin-bottom: 20px;
}
.mar-top20{
	margin-top: 20px;
}

/*淡出淡入动画效果*/
.goDown{
	animation: godown 2s linear;
}
.goUp{
	animation: go 2s linear;
}
.Right{
	animation: turnright 2s linear;
}
.Left{
	animation: turnleft 2s linear;
}
.l{
	float: left;
}
.r{
	float: right;
}
@keyframes go{
		0%{
			opacity: 0;
			transform: translateY(30px);	
		}
		100%{
			opacity: 1;
			transform: translateY(0px);
		}
}
@keyframes godown{
		0%{
			opacity: 0;
			transform: translateY(-10px);	
		}
		100%{
			opacity: 1;
			transform: translateY(0px);
		}
}
@keyframes turnright{
	0%{
			opacity: 0;
			transform: translateX(20px);	
		}
		100%{
			opacity: 1;
			transform: translateX(0px);
		}
}
@keyframes turnleft{
	0%{
			opacity: 0;
			transform: translateX(-10px);	
		}
		100%{
			opacity: 1;
			transform: translateX(0px);
		}
}
/*图片居中*/
img{
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
/*灰色背景*/    
.bg-gray {
    background-color: #EEEEEE;
}
/*分割字体样式*/
.section-header{
    font-size: 3rem;
    color: #777;
    line-height: normal;
    font-family: Microsoft YaHei, 'Arial', sans-serif;
}
.section-subheader{
	font-size: 2.5rem;
    line-height: normal;
     color: #777;
}
.section-context{
	font-size: 1.8rem;
    /*line-height: initial;*/
     color: #777;
     line-height: 3.5rem;
}
/*导航条*/
.nav01{
	padding: 10px;
	line-height: ;
	background: rgba(1,1,1,1);
	transition: 2s;
}
@media (max-width: 1024px){
.nav01 {
    padding: 0;
 }
}
.nav01 li a{
		line-height: 20px;
	}
.logotext{
	height: 40px;
	color: white;
	font-size: 22px;
	line-height: 50px;
	/*padding-top: 10px;*/
	margin-top: 5px;
}
.logotext{
	margin-top: 10px;
	height: 30px;
}
.own li a span{
		font-size: 18px;
		color: white;
	}

.own li a span:hover{
	color: lightseagreen;
}
.navbar-inverse {
		border: none;
}
#bs-example-navbar-collapse-1{
	text-align: center;
}
#section-home{
	
}
.down{
	margin: 0 auto;
	position: absolute;
	bottom: 20%;
	left: 50%;
	opacity: 1;
	transition: 2s;
}
.glyphicon-menu-down{
	color: white;
}
.hbox01{
	width: 100%;
	height: 750px;
	position: relative;
}

.hboxson{
	position: absolute;
	top: 40%;
}
#section-intro{
	
}
.txt{
	font-size: 5rem;
	color: #777777;
}
.txt1{
	font-size: 2rem;
	color: #000000;
	/*font-weight: 2rem;*/
}
.txt2{
	font-size: 1.5rem;
	color: #888888;
}
#section-news {
    background: url(../img/index/img4.jpg)fixed;
}
section .section1{
    margin: 0;
    padding: 80px 0 60px 0;
}
.news{
	background-color: #e9f0f5;
}

.timebox{
	/*text-align: center;*/
}
.timeline{
	height: 950px;
	width: 2px;
	background-color: gainsboro;
	position: relative;
	margin: 0 auto;
}
.timecon{
	position: absolute;
	left: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 2rem;
}
.timecon01{
	top: 20px;
	background-color: orange;
}
.timecon02{
	top: 200px;
	background-color: greenyellow;	
}
.timecon03{
	top: 380px;
	background-color: hotpink;	
}
.timecon04{
	top: 560px;
	background-color: orange;
}
.timecon05{
	top: 740px;
	background-color: greenyellow;
}
.timevent{
	position: absolute;
	background-color: white;
	padding: 20px;
	width: 420px;
	border-radius: 2%;
}
.timevent01{
	top: 20px;
	right: 60px;
}
.timevent02{
	top: 200px;
	left: 60px;
}
.timevent03{
	top: 380px;
	right: 60px;
}
.timevent04{
	top: 560px;
	left: 60px;
}
.timevent05{
	top: 740px;
	right: 60px;
}
.timevent h4{
	font-size: 2.5rem;
	text-align: left;
}
.timevent p{
	font-size: 0.8rem;
	text-align: left;
}
.timebtn{
	background-color: gray;
	color: white;
	width: 80px;
	height: 30px;
	line-height: 20px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
}
.timebtn:hover{
	background-color: darkgray;
}
.timedate{
	position: absolute;
	width: 100px;
	font-size: 1rem;
	color: gray;
	/*top: 30px;
	left: 20px;*/
}
.timedate01{
	top: 12px;
	left: 500px;
}
.timedate02{
	top: 12px;
	left: -180px;
}
.timedate03{
	top: 12px;
	left: 500px;
}

@media (max-width: 767px) {
	.timeline{
		margin:  auto 20px;
	}
	.timevent{
		left: 40px;
		padding: 2px;
		width: 280px;
	}
	.timebtn{
		float: right;
	}
	.timedate01{
		top: 130px;
		left: 0px;
	}
	.timedate02{
		top: 100px;
		left: 0px;
	}
	.timedate03{
		top: 90px;
		left: 0px;
	}
	
}
#section-paterner{
	background: url(../img/index/img5.jpg)fixed;
}
#section-fix02{}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    animation: go 2s linear;
    }
.btn button{
	border:1px solid gainsboro;
	background: url(../img/gywm/henda.jpg)no-repeat center center;
	background-repeat: no-repeat;
	text-align: center;
    vertical-align: middle;
}
.paterner-btn {
    overflow: hidden;
    height: 124px;
    width: 200px;
    padding: 10px 10px 10px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1024px){
	.paterner-btn {
    width: 100%;
    height: 50px;
    padding: 20px 10px 20px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
 }
}
.paterner-btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 10px 30px rgba(1, 1, 1, .5);
}
#footer{
	background-color: black;
	padding: 40px;
}
.fbox{
	width: 50px;
	height: 50px;
	background-color: lightseagreen;
	float: left;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 10px;
	/*text-align: center;*/
	line-height: 50px;
	transition: 0.5s;
}
.fbox:hover{
	transform: rotate(360deg);
	background-color: orangered;
}
.ful{
    display: inline-block;
}
.col-sm-12 span{
	font-size: 1.2rem;
}
.top{
	width: 20px;
	height: 20px;
	background-color: lightseagreen;
	opacity: 0.7;
	color: white;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: center;
	line-height: 20px;
	display: none;
	z-index: 999;
	font-size: 1.2rem;
}
@media (max-width: 1024px) {
	.top .glyphicon{
		font-size: 1.2rem;
	}
}

.top:hover .snav{
	opacity: 0;
}
.pp{
	width: 100%;
	height: 100%;
	background-color: white;
	/*display: none;*/
}
#pop{
	width: 50%;
	height: 100%;
	/*background-color: palegreen;*/
	margin: 0 auto;
	/*text-align: center;*/
}
.poptext{
	font-size: 4rem;
	text-align: center;

}
.poptext2{
	font-size: 2rem;

}
.glyphicon-remove{
	font-size: 4rem;
}
#pop img{
	margin-top: 20px;
	margin-bottom: 20px;
}
.popbtn{
	width: 80px;
	height: 50px;
	line-height: 50px;
	background-color: cornflowerblue;
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}
